* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  padding-top: 30px;
}

p {
  font-size: 24px;
}

input {
  width: 200px;
  height: 50px;
}

.form-control {
  background-color: aqua;
}

#inputs {
  width: 290px;
  height: 45px;
}