Olá, {$NAME$}, venho informar sobre o alerta {$ALERT$} no {$HOST$} de IP {$IPHOST$}, que tem um total de {$ALLALERTS$} alertas, 
o host pertece à {$COMPANY$} o alerta está ativo desde {$DATEALERT$} e foi resolvido {$DATESOLUTION$}
