Olá, {$NAME$}, venho informar sobre o host {$HOST$} de IP {$IPHOST$} da empresa {$COMPANY$} 
o qual os serviços {$SERVICES$} foram implementados na data {$CREATEDATE$} 
e o mesmo {$CHECK$} de acordo com o chamado {$CALLED$}
